# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.env.*
.venv/
.env

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# =========================
# Mypy / Ruff / Linters
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# SQLAlchemy / DB
# =========================
*.db
*.sqlite3

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# GitHub Actions artifacts
# =========================
*.out
